In [17]:
import pandas

zam_praha = pandas.read_csv("https://github.com/JankaMarschalkova/python-podzim-pondeli-2023/blob/main/ukoly/zam_praha.csv")
zam_plzen = pandas.read_csv("https://github.com/JankaMarschalkova/python-podzim-pondeli-2023/blob/main/ukoly/zam_plzen.csv")
zam_liberec = pandas.read_csv("https://github.com/JankaMarschalkova/python-podzim-pondeli-2023/blob/main/ukoly/zam_liberec.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 33, saw 8

načteni z harddisku, z URL mně nefunguje.

In [1]:
import pandas
zam_praha = pandas.read_csv("zam_praha.csv")
zam_liberec = pandas.read_csv("zam_liberec.csv")
zam_plzen = pandas.read_csv("zam_plzen.csv")

In [2]:
zam_praha

          jmeno  prijimeni   telefonni_cislo  cislo_zamestnance
0         Brian       Hall  +421 949 656 098                 30
1         Marta   Kolářová       730 456 163                 32
2          John    Moravec       725 092 179                 33
3      Dominika    Kopecká       722 747 626                 34
4        Marcel      Hájek  +421 902 928 669                 35
5        Milada  Hernandez       773 373 704                 38
6     Catherine     Bender       604 068 460                 40
7          Olga    Němcová  +421 914 172 243                 41
8       Jeffrey    Šťastný       607 628 821                 44
9        Kamila     Říhová  +421 948 396 069                 47
10      Jaromír     Miller  +421 912 615 902                 49
11  Christopher      Zeman  +421 948 150 084                 51
12     Karolína      Short       721 589 083                 53
13     Michelle    Vlčková  +421 41 720 7806                 54
14      Jeffrey   Pospíšil  +421 55 491 6940                 56
15     Ladislav     Blažek  +421 910 274 975                 57
16         John     Bailey       775 021 116                 58
17      William    Shelton  +421 47 745 8219                 60
18    Miroslava     Veselá       774 029 254                 62
19      William  Alexander  +421 949 106 724                 63
20     Kimberly       Bass  +421 912 169 840                 64
21       Nathan    Svoboda       728 710 923                 66
22        Luděk     Bartoš  +421 940 700 326                 69
23       Dillon      Black       734 300 978                 70
24       Robert       Říha       727 351 984                 72
25        Steve      Šimek       604 966 101                 74
26      Theresa   Kučerová  +421 48 528 0081                 76
27        Marta     Butler  +421 944 196 827                 78
28     Samantha  Kadlecová  +421 904 841 543                 80

In [3]:
zam_plzen

        jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0       Stacy  Pospíšilová       727 293 880                  3
1       Matěj         Král       770 787 377                  6
2      Amanda       Wilson  +421 52 656 7231                  7
3       Angel       Wilson  +421 52 135 2491                  8
4    Jindřich       Howell  +421 39 043 0948                 10
5   Alexander     Martinez       721 195 689                 13
6       Radim      Kopecký  +421 917 371 226                 16
7    Miroslav         Reed       774 829 074                 18
8      Emilie       Powell       731 380 539                 21
9      Nikola         Wade       726 763 154                 22
10  Katherine         Reed       726 214 968                 23
11      Kayla     Urbanová       737 772 985                 24
12      Roman       Moreno       722 284 985                 26
13   Bohumila        Smith       608 121 912                 27
14    Blažena        Smith  +421 51 828 2591                 28
15    Phillip         Malý       731 594 560                 29

In [4]:
zam_liberec

        jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0        Nela      Šťastná       728 454 176                 83
1     Heather      Marková       604 404 522                 84
2      Krista  Procházková  +421 50 444 5544                 85
3    Jennifer        Brown       775 545 190                 86
4   Ladislava    Blackwell  +421 913 487 200                 87
5      Robert       Macias  +421 49 929 6856                 88
6        Dana        Reyes  +421 904 153 942                 90
7       Vasyl       Veselý       603 759 413                 92
8       Randy       Veselý       777 149 125                 95
9      Audrey        Allen  +421 908 839 506                 96
10       Ivan       Bartoš       603 226 051                 99

Přidání sloupečku pracoviště

In [7]:
zam_praha["pracoviste"]="Praha"
zam_plzen["pracoviste"]="Plzen"
zam_liberec["pracoviste"]="Liberec"

Spojení všech  tabulek

In [8]:
zamestnanci= pandas.concat([zam_praha,zam_plzen, zam_liberec],ignore_index=True)
zamestnanci

          jmeno    prijimeni   telefonni_cislo  cislo_zamestnance pracoviste
0         Brian         Hall  +421 949 656 098                 30      Praha
1         Marta     Kolářová       730 456 163                 32      Praha
2          John      Moravec       725 092 179                 33      Praha
3      Dominika      Kopecká       722 747 626                 34      Praha
4        Marcel        Hájek  +421 902 928 669                 35      Praha
5        Milada    Hernandez       773 373 704                 38      Praha
6     Catherine       Bender       604 068 460                 40      Praha
7          Olga      Němcová  +421 914 172 243                 41      Praha
8       Jeffrey      Šťastný       607 628 821                 44      Praha
9        Kamila       Říhová  +421 948 396 069                 47      Praha
10      Jaromír       Miller  +421 912 615 902                 49      Praha
11  Christopher        Zeman  +421 948 150 084                 51      Praha
12     Karolína        Short       721 589 083                 53      Praha
13     Michelle      Vlčková  +421 41 720 7806                 54      Praha
14      Jeffrey     Pospíšil  +421 55 491 6940                 56      Praha
15     Ladislav       Blažek  +421 910 274 975                 57      Praha
16         John       Bailey       775 021 116                 58      Praha
17      William      Shelton  +421 47 745 8219                 60      Praha
18    Miroslava       Veselá       774 029 254                 62      Praha
19      William    Alexander  +421 949 106 724                 63      Praha
20     Kimberly         Bass  +421 912 169 840                 64      Praha
21       Nathan      Svoboda       728 710 923                 66      Praha
22        Luděk       Bartoš  +421 940 700 326                 69      Praha
23       Dillon        Black       734 300 978                 70      Praha
24       Robert         Říha       727 351 984                 72      Praha
25        Steve        Šimek       604 966 101                 74      Praha
26      Theresa     Kučerová  +421 48 528 0081                 76      Praha
27        Marta       Butler  +421 944 196 827                 78      Praha
28     Samantha    Kadlecová  +421 904 841 543                 80      Praha
29        Stacy  Pospíšilová       727 293 880                  3      Plzen
30        Matěj         Král       770 787 377                  6      Plzen
31       Amanda       Wilson  +421 52 656 7231                  7      Plzen
32        Angel       Wilson  +421 52 135 2491                  8      Plzen
33     Jindřich       Howell  +421 39 043 0948                 10      Plzen
34    Alexander     Martinez       721 195 689                 13      Plzen
35        Radim      Kopecký  +421 917 371 226                 16      Plzen
36     Miroslav         Reed       774 829 074                 18      Plzen
37       Emilie       Powell       731 380 539                 21      Plzen
38       Nikola         Wade       726 763 154                 22      Plzen
39    Katherine         Reed       726 214 968                 23      Plzen
40        Kayla     Urbanová       737 772 985                 24      Plzen
41        Roman       Moreno       722 284 985                 26      Plzen
42     Bohumila        Smith       608 121 912                 27      Plzen
43      Blažena        Smith  +421 51 828 2591                 28      Plzen
44      Phillip         Malý       731 594 560                 29      Plzen
45         Nela      Šťastná       728 454 176                 83    Liberec
46      Heather      Marková       604 404 522                 84    Liberec
47       Krista  Procházková  +421 50 444 5544                 85    Liberec
48     Jennifer        Brown       775 545 190                 86    Liberec
49    Ladislava    Blackwell  +421 913 487 200                 87    Liberec
50       Robert       Macias  +421 49 929 6856                 88    Liberec
51         Dana        Reyes  +421 904 153 942                 90    Liberec
52        Vasyl       Veselý       603 759 413                 92    Liberec
53        Randy       Veselý       777 149 125                 95    Liberec
54       Audrey        Allen  +421 908 839 506                 96    Liberec
55         Ivan       Bartoš       603 226 051                 99    Liberec

Načtení tabulky platy

In [9]:
platy= pandas.read_csv("platy_2021_02.csv")
platy

    cislo_zamestnance     plat
0                   3  54900.0
1                   6  54800.0
2                   7  36400.0
3                   8  47900.0
4                  16  34200.0
5                  18  35400.0
6                  21  54200.0
7                  22  34400.0
8                  23  39000.0
9                  24  44200.0
10                 26  59600.0
11                 27  45100.0
12                 28  38100.0
13                 29  48900.0
14                 30  33500.0
15                 32  53000.0
16                 33  38400.0
17                 34  36800.0
18                 38  32600.0
19                 40  32800.0
20                 41  49300.0
21                 44  52000.0
22                 47  40700.0
23                 49  58400.0
24                 51  37100.0
25                 56  39300.0
26                 57  36800.0
27                 63  31400.0
28                 64  36900.0
29                 69  32600.0
30                 70  52600.0
31                 74  49300.0
32                 76  55400.0
33                 78  52600.0
34                 80  57700.0
35                 83  46500.0
36                 84  38600.0
37                 85  44200.0
38                 87  49900.0
39                 90  41100.0
40                 92  48100.0
41                 95  31600.0
42                 96  50200.0

Left join obou tabulek - > obsahuje NaN, zaměstnanci, kteří v únoru již nepracují ve firmě

In [10]:
zamestnanci_prop= pandas.merge(zamestnanci,platy, on=["cislo_zamestnance"],how= "left")
zamestnanci_prop

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,pracoviste,plat
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0
1,Marta,Kolářová,730 456 163,32,Praha,53000.0
2,John,Moravec,725 092 179,33,Praha,38400.0
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0
4,Marcel,Hájek,+421 902 928 669,35,Praha,NaN
5,Milada,Hernandez,773 373 704,38,Praha,32600.0
6,Catherine,Bender,604 068 460,40,Praha,32800.0
7,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
8,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
9,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
10,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
11,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
12,Karolína,Short,721 589 083,53,Praha,NaN
13,Michelle,Vlčková,+421 41 720 7806,54,Praha,NaN
14,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
15,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
16,John,Bailey,775 021 116,58,Praha,NaN
17,William,Shelton,+421 47 745 8219,60,Praha,NaN
18,Miroslava,Veselá,774 029 254,62,Praha,NaN
19,William,Alexander,+421 949 106 724,63,Praha,31400.0
20,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
21,Nathan,Svoboda,728 710 923,66,Praha,NaN
22,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
23,Dillon,Black,734 300 978,70,Praha,52600.0
24,Robert,Říha,727 351 984,72,Praha,NaN
25,Steve,Šimek,604 966 101,74,Praha,49300.0
26,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
27,Marta,Butler,+421 944 196 827,78,Praha,52600.0
28,Samantha,Kadlecová,+421 904 841 543,80,Praha,57700.0
29,Stacy,Pospíšilová,727 293 880,3,Plzen,54900.0
30,Matěj,Král,770 787 377,6,Plzen,54800.0
31,Amanda,Wilson,+421 52 656 7231,7,Plzen,36400.0
32,Angel,Wilson,+421 52 135 2491,8,Plzen,47900.0
33,Jindřich,Howell,+421 39 043 0948,10,Plzen,NaN
34,Alexander,Martinez,721 195 689,13,Plzen,NaN
35,Radim,Kopecký,+421 917 371 226,16,Plzen,34200.0
36,Miroslav,Reed,774 829 074,18,Plzen,35400.0
37,Emilie,Powell,731 380 539,21,Plzen,54200.0
38,Nikola,Wade,726 763 154,22,Plzen,34400.0
39,Katherine,Reed,726 214 968,23,Plzen,39000.0
40,Kayla,Urbanová,737 772 985,24,Plzen,44200.0
41,Roman,Moreno,722 284 985,26,Plzen,59600.0
42,Bohumila,Smith,608 121 912,27,Plzen,45100.0
43,Blažena,Smith,+421 51 828 2591,28,Plzen,38100.0
44,Phillip,Malý,731 594 560,29,Plzen,48900.0
45,Nela,Šťastná,728 454 176,83,Liberec,46500.0
46,Heather,Marková,604 404 522,84,Liberec,38600.0
47,Krista,Procházková,+421 50 444 5544,85,Liberec,44200.0
48,Jennifer,Brown,775 545 190,86,Liberec,NaN
49,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0
50,Robert,Macias,+421 49 929 6856,88,Liberec,NaN
51,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0
52,Vasyl,Veselý,603 759 413,92,Liberec,48100.0
53,Randy,Veselý,777 149 125,95,Liberec,31600.0
54,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0
55,Ivan,Bartoš,603 226 051,99,Liberec,NaN

Tabulka zaměstnanců, kteří v únoru již ve frimě nepracují

In [15]:
zamestnanci_bezunorvyplaty= zamestnanci_prop[zamestnanci_prop["plat"].isnull()]
zamestnanci_bezunorvyplaty

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance pracoviste  plat
4      Marcel     Hájek  +421 902 928 669                 35      Praha   NaN
12   Karolína     Short       721 589 083                 53      Praha   NaN
13   Michelle   Vlčková  +421 41 720 7806                 54      Praha   NaN
16       John    Bailey       775 021 116                 58      Praha   NaN
17    William   Shelton  +421 47 745 8219                 60      Praha   NaN
18  Miroslava    Veselá       774 029 254                 62      Praha   NaN
21     Nathan   Svoboda       728 710 923                 66      Praha   NaN
24     Robert      Říha       727 351 984                 72      Praha   NaN
33   Jindřich    Howell  +421 39 043 0948                 10      Plzen   NaN
34  Alexander  Martinez       721 195 689                 13      Plzen   NaN
48   Jennifer     Brown       775 545 190                 86    Liberec   NaN
50     Robert    Macias  +421 49 929 6856                 88    Liberec   NaN
55       Ivan    Bartoš       603 226 051                 99    Liberec   NaN

13 zaměstnanců bez unorové vyplaty = nepracuje ve firmě

In [16]:
zamestnanci_bezunorvyplaty.shape

(13, 6)

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [19]:
zamestnanci_prop.groupby("pracoviste")["plat"].mean()

pracoviste
Liberec    43775.000000
Plzen      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

Zadání 2
Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

    Načti data ze souboru a ulož je do tabulky.
    Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [20]:
vykazy= pandas.read_csv("vykazy.csv")
vykazy

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87

In [22]:
vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

Nepovinný bonus 1

    Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.
    V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. Tabulku ulož do souboru CSV.

In [26]:
jmena_byvzamestnancu= zamestnanci_bezunorvyplaty["jmeno"]
jmena_byvzamestnancu
jmena_byvzamestnancu.to_csv("jmena_byvzamestnancu,csv",index= False)

Nepovinný bonus 2

Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [27]:
vykazy=vykazy.rename(columns={"emloyee_id":"cislo_zamestnance"})
vykazy

          date  hours project  cislo_zamestnance
0   2021-02-01    2.5     F30                 13
1   2021-02-01    3.4     W05                 70
2   2021-02-01    2.1     JL9                 72
3   2021-02-01    5.2     F30                  3
4   2021-02-01    2.4     TE1                 54
5   2021-02-01    4.1     TE1                 83
6   2021-02-01    5.4     W05                 92
7   2021-02-01    2.2     YLI                 34
8   2021-02-01    2.7     YLI                 84
9   2021-02-01    4.4     W05                 30
10  2021-02-02    5.6     F30                 53
11  2021-02-02    2.6     W05                 47
12  2021-02-02    2.4     YLI                 44
13  2021-02-02    3.1     YLI                 40
14  2021-02-02    5.3     YLI                 10
15  2021-02-02    3.6     YLI                 53
16  2021-02-02    5.6     F30                 56
17  2021-02-03    4.0     W05                 53
18  2021-02-03    4.6     TE1                 86
19  2021-02-03    2.6     F30                 18
20  2021-02-03    2.8     TE1                 47
21  2021-02-03    2.6     YLI                 34
22  2021-02-03    3.7     YLI                 96
23  2021-02-03    5.2     W05                 57
24  2021-02-03    5.5     W05                 40
25  2021-02-03    5.4     YLI                 86
26  2021-02-03    2.1     TE1                 87

In [28]:
zamestnanci_prop1 = pandas.merge (zamestnanci_prop,vykazy, on=["cislo_zamestnance"], how="left")

In [29]:
zamestnanci_prop1

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,pracoviste,plat,date,hours,project
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0,2021-02-01,4.4,W05
1,Marta,Kolářová,730 456 163,32,Praha,53000.0,NaN,NaN,NaN
2,John,Moravec,725 092 179,33,Praha,38400.0,NaN,NaN,NaN
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-01,2.2,YLI
4,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-03,2.6,YLI
...,...,...,...,...,...,...,...,...,...
57,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0,NaN,NaN,NaN
58,Vasyl,Veselý,603 759 413,92,Liberec,48100.0,2021-02-01,5.4,W05
59,Randy,Veselý,777 149 125,95,Liberec,31600.0,NaN,NaN,NaN
60,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0,2021-02-03,3.7,YLI
61,Ivan,Bartoš,603 226 051,99,Liberec,NaN,NaN,NaN,NaN

In [30]:
zamestnanci_compl=zamestnanci_prop1.dropna()
zamestnanci_compl

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,pracoviste,plat,date,hours,project
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0,2021-02-01,4.4,W05
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-01,2.2,YLI
4,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-03,2.6,YLI
7,Catherine,Bender,604 068 460,40,Praha,32800.0,2021-02-02,3.1,YLI
8,Catherine,Bender,604 068 460,40,Praha,32800.0,2021-02-03,5.5,W05
10,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0,2021-02-02,2.4,YLI
11,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0,2021-02-02,2.6,W05
12,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0,2021-02-03,2.8,TE1
19,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0,2021-02-02,5.6,F30
20,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0,2021-02-03,5.2,W05
28,Dillon,Black,734 300 978,70,Praha,52600.0,2021-02-01,3.4,W05
34,Stacy,Pospíšilová,727 293 880,3,Plzen,54900.0,2021-02-01,5.2,F30
41,Miroslav,Reed,774 829 074,18,Plzen,35400.0,2021-02-03,2.6,F30
50,Nela,Šťastná,728 454 176,83,Liberec,46500.0,2021-02-01,4.1,TE1
51,Heather,Marková,604 404 522,84,Liberec,38600.0,2021-02-01,2.7,YLI
55,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0,2021-02-03,2.1,TE1
58,Vasyl,Veselý,603 759 413,92,Liberec,48100.0,2021-02-01,5.4,W05
60,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0,2021-02-03,3.7,YLI

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [33]:
zamestnanci_compl.groupby(["pracoviste","project"])["hours"].sum()

pracoviste  project
Liberec     TE1         6.2
            W05         5.4
            YLI         6.4
Plzen       F30         7.8
Praha       F30         5.6
            TE1         2.8
            W05        21.1
            YLI        10.3
Name: hours, dtype: float64